<% content_for :head do %>
  <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
<% end %>

<div class="pen-title">
  <h1>KendoLife</h1>
</div>

<div class="module form-module">
  <div class="toggle">
    <i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">切り替え</div>
  </div>
  
  <!-- ログインフォーム -->
  <div class="form">
    <h2>アカウントにログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
      <%= f.submit "ログイン" %>
    <% end %>
    
    <!-- ゲストログインボタン -->
    <div style="text-align: center; margin-top: 10px; margin-bottom: 0px;">
      <%= button_to "ゲストユーザーでログイン", guest_sign_in_path, method: :post, style: "background: #95a5a6; font-size: 12px; padding: 8px 15px; margin-top: 10px; width: 70%; margin-bottom: 0px;" %>
    </div>
  </div>
  
  <!-- 新規登録フォーム -->
  <div class="form">
    <h2>アカウント新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力" %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
  
  <div class="cta">
    <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name) %>
  </div>
</div>


<!-- jQuery読み込み -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- アニメーション用JavaScript -->
<script>
$(document).ready(function(){
  console.log('JavaScriptが読み込まれました');
  
  $('.toggle').on('click', function(){
    console.log('ボタンがクリックされました');
    
    // Switches the Icon
    $(this).children('i').toggleClass('fa-pencil');
    
    // Switches the forms  
    $('.form').animate({
      height: "toggle",
      'padding-top': 'toggle',
      'padding-bottom': 'toggle',
      opacity: "toggle"
    }, "slow");
  });
});
</script>