<% content_for :head do %>
  <%= stylesheet_link_tag "matches_new", "data-turbo-track": "reload" %>
<% end %>

<div class="match-modal-overlay">
  <div class="match-modal-content">
    <div class="modal-title">
      新しい試合を追加
    </div>
    
    <%= form_with model: @match, local: true, data: { turbo: false } do |f| %>
      <div class="form-group">
        <%= f.label :title, "試合名" %>
        <%= f.text_field :title, placeholder: "例: 県大会準決勝" %>
      </div>

      <div class="form-group">
        <%= f.label :match_type, "試合種別" %>
        <%= f.select :match_type, 
            options_for_select([['団体戦', 'team'], ['個人戦', 'individual']], 'team'),
            {},
            { class: "browser-default" } 
        %>
      </div>

      <div class="form-group">
        <%= f.label :match_date, "試合日" %>
        <%= f.date_field :match_date, value: Date.today %>
      </div>

      <div class="modal-actions">
        <%= link_to "キャンセル", matches_path, class: "btn-cancel" %>
        <%= f.submit "スコア表を作成", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>